#components-layout-demo-side .logo {
    height: 32px;
    /* margin: 16px; */
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .components-layout-demo-side {
    min-width: 500px;
  }

  .select-current-process {
    width: 100%;
  }